@import "~@ionic/angular/css/core.css";

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.toast-green {
    color: #1fc920 !important;
    background: rgba(255, 255, 255, 0.39);
    font-size: large;
}

.toast-red {
    color: #c91c1c !important;
    background: rgba(255, 255, 255, 0.39);
    font-size: large;
}
